.header {
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80vw;
}

h1 {
  /* margin-top: -0.5px; */
}

.feedContainer {
  justify-content: center;
}

.cards {
  width: 500px;
  margin-bottom: 5%;
  /* display: none; */
}

.home {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.quote {
  background: #efefef;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 900px;
  padding: 15px;
  position: relative;
}

.quote p {
  margin: 0 0 10px;
  color: black;
}
.quote p:last-of-type {
  margin-bottom: 0;
}

.hamburger {
  /* background-color: aquamarine; */
}

/* 
.quote::after {
  border-left: 20px solid transparent;
  border-top: 20px solid #efefef;
  bottom: -20px;
  content: "";
  position: absolute;
  right: 20px;
} */
