img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}

#userAvatar {
  display: flex;
  gap: 200px;
  align-items: center;
  margin-right: 500px;
}
#userAvatar:first-child {
  font-size: 90px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 3px 10px 2px rgb(59, 155, 179);
}

.navItems {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  gap: 200px;
  border-radius: 6px;
  justify-content: center;
  width: 70vw;
  height: 90px;
  align-items: center;
}

.navItems button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  /* margin-left: 10px; */
  margin-right: 10px;
}

.top {
  display: flex;
  gap: 400px;
  /* border: 1px solid red; */
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
  justify-content: center;
}

.profileCard {
  width: 350px;
  display: flex;
  /* justify-content: space-between;
  align-content: space-between; */
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}
