.settingsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.toggleButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyRight {
  position: fixed;
  bottom: 0;
}

h3 {
  text-align: center;
}